<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Rselect" connectionString="server=SDWM-20140605GJ\SQLEXPRESS;database=Rselect;User id=sa;Password=123456;TimeOut=2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>