<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Rselect" connectionString="server=SDWM-20140605GJ\SQLEXPRESS;database=Rselect;User id=sa;Password=123456;TimeOut=2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="60000" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
